*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --diary: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*------------HEADER--------------*/

.header {
  border-bottom: 1px solid var(--cornflower);
  background-color: var(--white);
}

.nav {
}

.logo {
  color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo-span {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.header-list {
}

.header-list-items {
  color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.header-list-items:hover,
.header-list-items:focus {
  color: var(--ocean);
}

.address {
}

.address-list {
}

.address-list-items {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.address-list-items:hover,
.address-list-items:focus {
  color: var(--ocean);
}

/*---------------HERO---------------------*/

.hero-section {
  background-color: var(--navy-blue);
}

.hero-title {
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/*---------------ABOUT-------------------*/

.about-section {
}

.about-list {
}

.about-list-items {
}

.about-titles {
  color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*------------------TEAM--------------------*/

.team-section {
}

.team-title {
  color: var(--navy-blue);
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.team-list {
}

.team-list-items {
}

.team-img {
}

.team-names {
  color: var(--navy-blue);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-------------PORTFOLIO-----------------*/

.portfolio-section {
}

.portfolio-title {
  color: var(--navy-blue);
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.portfolio-list {
}

.portfolio-list-items {
}

.portfolio-img {
}

.portfolio-description {
  color: var(--navy-blue);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-----------------FOOTER---------------------*/

.footer {
  background-color: var(--navy-blue);
}

.footer-logo {
  color: var(--cloud);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.footer-logo-span {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
